/* Base CSS */

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Color */
// black, white
$COLOR: #000000;
$main-color: white;
$sub-color: gray;
$dark-gray: #777777;
$light-gray: lightgray;

/* Padding */
$padding: 100px; // content-padding

/* Media Query */
$desktop: 768px;
$mobile: 767px;

/* Sidebar */
$sideBar: 200px;