// Layout scss

// default scss
@import './base/base';
@import './base/materialUI';
@import './base/mixin';
@import './base/reset';

#wrap{
  padding: 3em;
}

/* header */
.header {
    width: calc(100%-2*$padding);
    background-color: $main-color;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding;
    @include desktop {
      height: 80px;
    }
    @include mobile {
    }
    &>div{
      display: flex;
      height: 100%;
      align-items: center;
    }
    .h-title-con{
      width: 30%;
      flex : 0 0 auto;
      img{
          height: 100%;
          margin-right: 10px;
      }
      h1{
          font-size: 2rem;
          font-weight: 600;
      }
    }
    .nav-con{
      width: 60%;
      flex : 1 1 auto;
      justify-content: space-around;
      span{
          padding: 10px;
          border-bottom: 1px solid transparent;
          &:hover{
              & a{
                  font-weight: 600;
              }
              border-bottom: 1px solid black;
          }
          a{
              text-decoration: none;
              color: black;
          }
          
      }
    }
    .profile-con{
      width: 20%;
      flex : 0 0 auto;
      justify-content: flex-end;
      p{
          margin-right: 1rem;
          strong{
              font-weight: 600;
          }
      }
      .menu-btn{
          background-color: $dark-gray;
          color: white;
          cursor: pointer;
      }
    }
  }