// Layout scss

// default scss
@import './base/base';
@import './base/materialUI';
@import './base/mixin';
@import './base/reset';

#wrap{
  padding: 0em;
  width: 100vw;
}

/* header */
.header {
    width: 100%;
    background-color: $main-light-color;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding;
    box-shadow: 0.01rem 0 1rem $shadow-color;
    @include desktop {
      height: 5rem;
      z-index: 999;
    }
    @include mobile {
      display:none;
      background-color: $sub-color;
    }
    &>div{
      display: flex;
      height: 100%;
      align-items: center;
    }
    .h-title-con{
      width: 30%;
      margin-right: 20%;
      flex : 0 0 auto;
      img{
          height: 100%;
          margin-right: 10px;
      }
      h1{
          font-size: 2rem;
          font-weight: 600;
      }
    }
    .nav-con{
      width: 60%;
      flex : 1 1 auto;
      justify-content: space-around;
      div{
          padding: 10px;
          border-bottom: 1px solid transparent;
          &:hover{
              & a{
                  font-weight: 600;
              }
              border-bottom: 1px solid $text-color;
          }
          a{
              text-decoration: none;
              color: $text-color;
          }
          
      }
    }
    .profile-con{
      width: 20%;
      flex : 0 0 auto;
      justify-content: flex-end;
      p{
          margin-right: 1rem;
          strong{
              font-weight: 600;
          }
      }
      .menu-btn{
          background-color: $subsub-color;
          color: $sub-color;
          cursor: pointer;
      }
    }
  }