.header {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  @include desktop {
    height: 70px;
  }
  @include mobile {
  }
}

.header .logo {
  font-size: 30px;
}

.header .nav {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: inherit;
    @include desktop {
      padding: 0 30px;
    }
    &:hover {
      color: #a3a3a3;
    }
  }
}
