.register-body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	width: 50vw;
	height: 90vh;
	margin:5vh auto;

	.register-paper{
		width:100%;
		height:100%;
		padding: 1rem 3rem 2rem 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.register-title{
		font-size: 1.5rem;
		color: black;
		font-weight: 700;
		text-align: center;
	}
	.register-content{
		height:100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.register-btngroup{
		justify-content: center;
		padding-top: 1rem;
	}
	.register-btn{
		width: 6rem;
	}
}
.stepper{
	width: 100%;
	padding: 0.5rem 0;
}
.step-grid{
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}
.stepfirst-grid {
	border: 1px solid gray;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;
}
.stepfinal-grid {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap !important;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;
	.mail-icon {
		display:none;
	}
	.stepfinal-head {
		font-size: 1.1rem;
		font-weight: 550;
		margin-bottom: 1rem;
	}
	.mail-img {
		display: none;
		margin-bottom: 1rem;
		box-shadow: 5px 5px 5px #D9D9D9;
	}
}

.stepzero-grid::-webkit-scrollbar, .stepfirst-grid::-webkit-scrollbar, .stepfinal-grid::-webkit-scrollbar { display:none; }
.register-subhead {
	font-weight: bold !important;
	margin-bottom: 5px !important;
}
.grid-left {
	display: flex;
	background-color: gray;
	justify-content: center;
	align-items: center;
}
.final-content {
	white-space: pre-wrap;
	text-align: center;
}
.stepfinal-ps {
	width: 100%;
	text-align: center;
	background-color: lighten(gray, 30%) !important;
	padding: 0.5rem 0;
	margin-top: 1rem;

}
.agree-content {
	max-height: 4rem;
	font-size: 0.9rem;
	overflow: auto;
	padding: 0.9rem;

}
.radio-content {
	font-size: 0.9rem;
	width: 100%;
	margin-top: 0.3rem !important;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row !important;
}
.radio-group {
	flex-direction: row !important;
	margin-left: 1rem;
}
.MuiRadio-root {
	padding: 4px !important;
}
