.search_bar {
  border: 1px solid $subsub-color;
  display: flex;
  flex-direction: column;
  background-color: $sub-color;
  @include desktop {
    width: 80%;
    height: 3rem;
    margin: 2rem;

  }
  @include mobile {
    z-index: 990;
    width: 94vw;
    height: 3rem;
    margin-top: 1rem;
  }
}

.search {
  height:100%;
}

.search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height:100%;
  @include desktop {
    #btn-menu {
      display: none;
    }
  }
  #btn-submit {
    border-left: 1px solid $subsub-color;
    border-radius: 0;
    color: $sub-color;
    background-color: $main-color;
    padding: 1rem 0 1rem 0;
    height: 100%;
    @include font-default(700, 1rem);
  }
  .MuiSvgIcon-root {
    margin-left: 0.3rem;
    color: $main-color;
  }
}

.search_form input {
  width: calc(100% - 4px - 2rem);
  height: calc(100% - 4px - 2rem);
  padding: 1rem;
  border: none;
  &:focus {
    outline: none;
  }
}

.new_place_modal {
  background-color: $sub-color;
  margin: 5vw auto 0 auto;
  @include desktop {

  }
  @include mobile {
    width: 80vw;
    height: 80vh;

  }
}

.search_result{
  z-index: 100;
  padding: 10px;
  background-color: $sub-color;
  border: 1px solid;
}

.new_place_modal .search_results {
  overflow: scroll;
}
.new_place_modal .column {
  margin: 2vw;
  padding: 1vw;
  border: 2px solid $text-color;
}