@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

// .root {
//     height: 100vh;
// }

.loginBody{
	position: absolute;
	width: 40%;
	background-color: #ffffff !important;
	border: none;

	.rightSort{
		display: flex;
		justify-content: flex-end;

		.closeBtn{
			color: #000 !important;
			background-color: rgb(202, 202, 202) !important;
			width: 1rem;
			height: 1rem;
			margin: 1rem 1rem 0 1rem;
		}
	}

	.loginContainer{
		padding: 0 5% 5% 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;

		.avatar {
			margin: 2rem;
			width: 6rem !important;
			height: 6rem !important;
			background-color: #ffffff !important;
			color: #000 !important;
			border: solid 1px black;
		}
	}
}

.image {
    background-color: #fafafa;
    font-family: 'Noto Sans KR', sans-serif;
    span{
        position: fixed;
        top: 70%;
        left: 10%;
    }
    h1{
        font-weight: 700;
        font-size: 2rem;
    }
}

.paper {
    margin: 3rem 3rem 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    h1{
        font-weight: 700;
        font-size: 2rem;
    }
}

.paperBG {
    background-color: #DADADA !important;
}

.form {
    width: 100%;
    margin-top: 1rem;
    border-color: #707070;
    a{
        text-decoration: none !important;
        color:#000 !important;
        &:hover{
            color:#222 !important;
            font-weight: 600 !important;
        }
    }
}

.submit {
    margin: 1.5rem 0 1.5rem !important;
    background-color: #777777 !important;
    border-radius: 0.5rem !important;
}

.btn {
    position: fixed !important;
    left: 70%;
    top: 70%;
    width: 10rem;
    height: 10rem;
    border-radius: 50% !important;
    z-index: 1400 !important;
    background-color: #707070 !important;
}