.register-body{
	height: 90%;
}
.login-body{
	position: absolute;
	width: 100%;
	background-color: #ffffff !important;
	border: none;

	.right-sort{
		display: flex;
		justify-content: flex-end;

		.close-btn{
			color: #000 !important;
			background-color: rgb(202, 202, 202) !important;
			width: 1rem;
			height: 1rem;
			margin: 1rem 1rem 0 1rem;
		}
	}

	.login-container{
		padding: 0 5% 5% 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.avatar {
			margin: 1rem;
			width: 6rem;
			height: 6rem;
			background-color: #ffffff;
			color: #000;
			border: solid 1px black;
		}
		.title{
			font-size: 2.5rem;
			color: darken(gray,20%);
			font-weight: 700;
		}
		.register-title{
			font-size: 1.5rem;
			color: black;
			font-weight: 700;
		}
		.stepper{
			width: 100%;
			padding: 1.5rem 0;
		}
		.register-btngroup{
			justify-content: center;
			padding-top: 1rem;
		}
		.register-btn{
			width: 6rem;
		}
	}
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border: solid 1px black !important;
}
.MuiButton-outlined {
	padding: 5px !important;
}
.form {
    width: 70%;
    margin: 1rem;
	
	.login-inputs{
		margin: 0.5rem 0;
		border-radius: 0.5rem;
		box-shadow: 1px 1px 2px gray;
	}
	.submit {
		margin: 0.5rem 0;
		background-color: #777777 !important;
		color: white;
		border-radius: 0.5rem;
		font-size: 0.8rem;
	}
}
.register-grid{
	margin: 1rem 0;
	justify-content: center;

	.link{
		padding: 0 8px;
		font-size: 0.8rem;
		text-decoration: none !important;
		color:#000 !important;
		&:hover{
			color:#222;
			font-weight: 600;
		}
	}
}

@media (min-width:769px){ // desktop
	.login-body{
		width: 50%;
		.login-container{
			.stepper{
				width: 80%;
			}
			.register-btn{
				width: 7rem;
			}
		}
	}
	.form{
		width: 40%;
	}
}