.register-body{
	height: 90%;
}
.login-body{
	position: absolute;
	width: 100%;
	background-color: #ffffff !important;
	border: none;

	.right-sort{
		display: flex;
		justify-content: flex-end;

		.close-btn{
			color: #000 !important;
			background-color: rgb(202, 202, 202) !important;
			width: 1rem;
			height: 1rem;
			margin: 1rem 1rem 0 1rem;
		}
	}

	.login-container{
		padding: 0 5% 5% 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.avatar {
			margin: 1rem;
			width: 6rem;
			height: 6rem;
			background-color: #ffffff;
			color: #000;
			border: solid 1px black;
		}
		.title{
			font-size: 2.5rem;
			color: darken(gray,20%);
			font-weight: 700;
		}
		.register-title{
			font-size: 1.5rem;
			color: black;
			font-weight: 700;
		}
		.step-grid{
			height: 70vh;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.stepper{
			width: 100%;
			padding: 0.5rem 0;
		}
		.register-btngroup{
			justify-content: center;
			padding-top: 1rem;
		}
		.register-btn{
			width: 6rem;
		}
	}
	@include desktop {
		width: 50%;
		.login-container{
			.stepper{
				width: 80%;
				padding: 1rem 0;
			}
			.register-btn{
				width: 7rem;
			}
		}
	}
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border: solid 1px black !important;
}
.MuiButton-outlined {
	padding: 5px !important;
}
.form {
    width: 70%;
    margin: 1rem;
	
	.login-inputs {
		margin: 0.5rem 0;
		border-radius: 0.5rem;
		box-shadow: 1px 1px 2px gray;
	}
	.submit {
		margin: 0.5rem 0;
		background-color: #777777 !important;
		color: white;
		border-radius: 0.5rem;
		font-size: 0.8rem;
	}
	@include desktop {
		width: 40%;
	}
}
.register-grid{
	margin: 1rem 0;
	justify-content: center;

	.link{
		padding: 0 8px;
		font-size: 0.8rem;
		text-decoration: none !important;
		color:#000 !important;
		&:hover{
			color:#222;
			font-weight: 600;
		}
	}
}
.stepzero-grid {
	justify-content: flex-start;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;
	
	@include desktop {
		padding: 0 1.5rem;
		height: 55vh;
	}
}
.stepfirst-grid {
	border: 1px solid gray;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;
}
.stepfinal-grid {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap !important;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;
	.mail-icon {
		display:none;
	}
	.stepfinal-head {
		font-size: 1.1rem;
		font-weight: 550;
		margin-bottom: 1rem;
	}
	.mail-img {
		display: none;
		margin-bottom: 1rem;
		box-shadow: 5px 5px 5px #D9D9D9;
	}

	@include desktop {
		padding: 0 1.5rem;
		height: 55vh;
		.mail-icon {
			display: inline;
			font-size: 7rem;
		}
		.stepfinal-head {
			font-size: 1.3rem;
			font-weight: 550;
			margin-bottom: 1rem;
		}
		.mail-img {
			display: inline;
		}
	}
}
.stepzero-grid::-webkit-scrollbar, .stepfirst-grid::-webkit-scrollbar, .stepfinal-grid::-webkit-scrollbar { display:none; }
.register-subhead {
	font-weight: bold !important;
}
.grid-left {
	display: flex;
	background-color: gray;
	justify-content: center;
	align-items: center;
}
.final-content {
	white-space: pre-wrap;
	text-align: center;
}
.stepfinal-ps {
	width: 100%;
	text-align: center;
	background-color: lighten(gray, 30%) !important;
	padding: 0.5rem 0;
	margin-top: 1rem;

	@include desktop {
		padding: 1rem 0.5rem;
		width: 80%;
	}
}
.agree-content {
	max-height: 4rem;
	font-size: 0.9rem;
	overflow: auto;
	padding: 0.9rem;

	@include desktop {
		max-height: 7rem;
	}
}
.radio-content {
	font-size: 0.9rem;
	width: 100%;
	margin-top: 0.3rem !important;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row !important;
}
.radio-group {
	flex-direction: row !important;
	margin-left: 1rem;
}
.MuiRadio-root {
	padding: 4px !important;
}
