.modal-con {
	height: auto !important;
	margin: 0 !important;
}
.modal-title-des{
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.modal-title-des2{
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.modal-search-con{
	display: flex;
	flex-direction: row;
}

.modal-btn-con {
	justify-content: center !important;
}